<div class="container" id="cards-pkm">
  <div class="input-group mb-3">
    <input type="text" id="searchInput" class="form-control text" placeholder="Search by name or by Pokedex nº" aria-label="Recipient's username" aria-describedby="basic-addon2" value="">
    <div class="input-group-append">
      <button (click)="triggerSearch()" class="btn btn-primary" type="button">Search <i class="fa fa-search" aria-hidden="true"></i> </button>
    </div>
  </div>
    <div id="last" class="row"></div>
</div>
